.product-title {
  margin: 15px 20px;
  align-self: flex-start;
  padding-bottom: 25px;
  border-bottom: 1px solid #3333332c;
  font: normal normal bold 1.5rem/2rem Raleway;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.button-options {
  align-self: flex-start;
  margin: 15px 20px;
}

.button-options button {
  width: 70px;
  height: 40px;
  margin: 0 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 50px;
  opacity: 1;
  /*Text Style*/
  text-align: center;
  font: normal normal normal 16px/25px Roboto;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.button-options p {
  text-align: left;
  font: normal normal bold 0.9rem/1.9rem Roboto;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.product-price {
  align-self: flex-start;
  padding: 30px;
  width: 70%;
  margin: 15px 20px;
  background-color: #ffff;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.product-price .price-text {
  text-align: left;
  font: normal normal bold 1.6rem/2rem Roboto;
  letter-spacing: 0px;
  color: #333333;
}

.product-price .price-text span {
  text-align: left;
  margin-right: 10px;
  text-decoration: line-through;
  font: normal normal normal 1.6rem/2rem Roboto;
  letter-spacing: 0px;
  color: #999999;
}

.card-division {
  text-align: left;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  text-align: left;
  font: normal normal normal 16px/30px Roboto;
  letter-spacing: 0px;
  color: #666666;
}
.card-division span {
  text-align: left;
  font: normal normal bold 1rem/2rem Roboto;
  letter-spacing: 0px;
  color: #666666;
}

.button-product-quantity {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  overflow: hidden;
  background-color: #ffff;
  margin-right: 20px;
  /*Text Style*/
  text-align: left;
  font: normal normal normal 1.6rem/1.2rem Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.button-product-quantity button {
  border: none;
  background-color: #ffff;
  /*Text Style*/
  text-align: left;
  font: normal normal normal 2rem/1.8rem Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.product-quantity {
  align-self: flex-start;
  margin: 15px 20px;
  display: flex;
  flex-direction: row;
}

.button-options .select-button {
  background: transparent linear-gradient(90deg, #89c993 0%, #80d6b5 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  /*Text style*/
  text-align: center;
  font: normal normal normal 16px/25px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.sign-button {
  width: 200px;
  height: 40px;
  border: none;
  /* UI Properties */
  background: transparent linear-gradient(270deg, #80d6b5 0%, #89c993 100%) 0%
    0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  /*Text Style */
  text-align: center;
  font: normal normal bold 28px/30px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.link-large-quantities {
  align-self: flex-start;
  margin: 15px 20px;
}

.link-large-quantities a {
  color: red;
  /* UI Properties */
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 13px/23px Roboto;
  letter-spacing: 0px;
  color: #4ca871;
  opacity: 1;
}

.discount {
  border: 1px solid black;
  padding: 3px;
  width: 35px;
  height: 15px;
  margin-left: 20px;
  margin-top: 5px;
  text-align: center;
  /* UI Properties */
  border-radius: 20px;
  opacity: 1;
  /*Text style*/
  text-align: left;
  font: normal normal bold 14px/21px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.pix-value-text {
  display: flex;
  flex-direction: row;
}

.pix-price div {
  display: flex;
}
@media (max-width: 500px) {
  .main-container {
    background-color: #f5f5f5;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pix-price {
    display: none;
  }
}

@media (min-width: 501px) {
  .main-container {
    width: 50vw;
    background-color: #f5f5f5;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
