.main-container-prodDesc {
  margin: 15px 20px;
  padding: 70px 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.main-container-prodDesc p {
  /* UI Properties */
  text-align: left;
  font: normal normal 1.3rem/1.8rem Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-weight: 400;
}

.main-container-prodDesc span {
  /* UI Properties */
  text-align: left;
  font: normal normal 1.3rem/1.8rem Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-weight: 400;
}

.main-container-prodDesc h1 {
  margin-bottom: 30px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 2rem/1.8rem Raleway;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.desc-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
