@media (max-width: 729px) {
  .first-component {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 730px) {
  .first-component {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin: 0 auto;
  }
}
